@import '../../../config/variables';

.wrapper {
  display: flex;
  flex-direction: column;

  @include for-tablet-portrait-up {
    flex-direction: row;
  }
}

.heroImage {
  z-index: -1;
  user-select: none;

  @include for-tablet-portrait-up {
    position: fixed;
    right: -15rem;
  }

  @include for-desktop-up {
    height: calc(100vh - 7.25rem);
    right: -5rem;
  }

  @include for-big-desktop-up {
    right: 0rem;
  }
}

.heroText {
  z-index: 1;
  padding: 0 2rem;

  @include for-tablet-portrait-up {
    max-width: 50vw;
    padding: 10rem 0 10rem 5rem;
  }

  @include for-desktop-up {
    max-width: 50vw;
    padding: 10rem 0 6rem 18rem;
  }

  @include for-big-desktop-up {
    padding: 15rem 8rem 4rem 18rem;
  }
}

.body {
  font-size: 1.5rem;

  @include for-desktop-up {
    font-size: 1rem;
  }
}
