@import '../../../config/variables';

.backToTop,
.wrapper {
  padding: 0 2rem;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  width: 100vw;

  @include for-desktop-up {
    padding: 0 10rem;
    flex-direction: row;
  }

  @include for-big-desktop-up {
    padding: 0 12rem;
    flex-direction: row;
  }
}

.userHistory,
.generalHistory,
.categoriesDetails {
  border-radius: 20px;
  border: 2px solid $brand-green;
  height: 100%;
  width: 100%;
  padding: 40px;

  @include for-desktop-up {
    height: 70vh;
  }

  @include for-big-desktop-up {
    height: 75vh;
  }
}

.generalHistoryList {
  height: 100%;

  @include for-desktop-up {
    height: 90%;
  }
}

.userHistoryList {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 100%;
  overflow: auto;
  margin-bottom: 80px;

  @include for-desktop-up {
    margin-bottom: 0;
    height: 70%;
  }

  @include for-big-desktop-up {
    margin-bottom: 0;
    height: 75%;
  }
}

.generalHistoryList {
  display: flex;
  flex-direction: column;

  @include for-desktop-up {
    flex-wrap: wrap;
  }
}

.userHistory {
  position: relative;

  @include for-desktop-up {
    margin-right: 10px;
    flex-basis: 40%;
  }
}

.generalHistory {
  margin-top: 40px;

  @include for-desktop-up {
    margin-top: 0;
    margin-left: 10px;
    flex-basis: 60%;
  }
}

.button {
  position: absolute;
  bottom: 30px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include for-big-desktop-up {
    bottom: 50px;
  }
}

.backToTop {
  width: 100%;
  cursor: pointer;
  margin-top: 30px;
  border: none;
  flex-direction: column;
  text-align: center;
  font-family: $font-family;
  font-weight: bold;
}

.backToTop hr {
  background-color: $brand-green;
  width: 100%;
  height: 1px;
}
