@import '../../../config/variables';

.categoryItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 10px 10px 0;

  @include for-big-desktop-up {
    margin: 0 10px 14px 0;
  }
}

.categoryTitleSmall {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
  width: 240px;

  @include for-desktop-up {
    font-size: 0.8rem;
    font-weight: bold;
    width: 180px;
  }

  @include for-big-desktop-up {
    font-size: 1.1rem;
    width: 250px;
  }
}

.categoryItem img {
  margin: 0 10px 0 0;
}
