@import '../../../config/variables';

.wrapper {
  align-items: center;
  display: flex;
  padding: 1rem 3rem 0;

  @include for-desktop-up {
    padding: 2rem 16rem 0;
  }

  a {
    color: $body-color;

    &:hover {
      color: $brand-primary;
    }
  }
}

.navigation,
.name,
.socialMedia {
  display: flex;
  flex: 1;
  font-weight: 700;
  font-size: 0.8rem;
}

.name > span {
  width: 100px;
}

.name {
  flex-basis: 30%;
}
.navigation {
  flex-basis: 70%;
  justify-content: flex-end;
}

.navigation > span {
  margin: 0;
}

.socialMedia > span {
  margin-left: auto;
}

.navigation {
  a:not(:first-child) {
    margin-left: 2rem;
  }
}

.name {
  h3 {
    font-size: 23px !important;
    margin-bottom: 0 !important;
  }

  a {
    &:hover,
    &:focus {
      color: $body-color;
      text-decoration: none;
    }
  }
}

.socialMedia {
  a {
    font-size: 1.5rem;
  }

  a:not(:first-child) {
    margin-left: 1rem;
  }
}

.mobileNav {
  background-color: $background-color;
  display: none;
  height: 5.25rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  @include for-phone-only {
    display: block;
  }

  a {
    color: $white;
    font-size: 200%;
    margin-bottom: 2rem;

    &:hover {
      color: $white;
    }
  }
}

.mobileNavName {
  left: 1rem;
  position: fixed;
  top: 0.5rem;

  h3 {
    font-size: 23px !important;
    margin-bottom: 0 !important;
  }
}

.logo {
  margin: 0;
}
