@import "../../../config/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;

  @include for-tablet-landscape-up {
    padding: 2rem 10rem 1rem;
    flex-direction: row;
  }
  @include for-desktop-up {
    padding: 2rem 14rem 1rem;
    flex-direction: row;
  }
}
